/* ====Comon Css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "poppins", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* ====header Css */
header {
  background: #f9fbfc;
  margin-top: 15px;
}
.inner_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo_area {
  width: 120px;
}
.logo_area img {
  width: 100%;
}

.menu ul {
  display: flex;
  align-items: center;
}
.menu ul li {
  padding: 0 18px;
}
/* ==Home DropDown menu css === */

.menu ul li a {
  line-height: 44px;
  color: #242f51;
  font-weight: 400;
  transition: 0.3;
}
.menu ul li a:hover {
  color: red;
}
.button {
  width: 170px;
  height: 57px;
  border-radius: 29px;
  background-color: #2500f9;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 44px;
  color: #ffffff;
  font-weight: 700;
}

/* Herro_baner_area css */
#baner{
  min-height: calc(100vh-72px);
}
.inner_baner {
  display: flex;
justify-content: space-around;  align-items: center;
}
.content_area {
}
.content_area h6 {
  font-size: 18px;
line-height: 28px;
color: #242f51;
font-weight: 400;
}
.content_area i {
}
.content_area h1 {
  font-size: 60px;
line-height: 75px;
color: #242f51;
font-weight: 600;
max-width: 513px;
margin: 30px 0;
}
.hero_button_container{
  display: flex;
}
.content_area p {
  font-size: 18px;
line-height: 28px;
color: #616368;
font-weight: 400;
margin-bottom: 30px;
max-width: 480px;
}
.demo_btn {
  font-size: 16px;
line-height: 44px;
color: #2500f9;
font-weight: 400;
background-color: transparent;
border: 0;
outline: none;
margin-left: 30px;
}
.baner_area {
  max-width: 360px;
}
.baner_area img {
  width: 100%;
}
